/** @format */

// @import "./theme";

* {
  box-sizing: border-box;
}

// -------------------- scroll style ---------------------
::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
  &:hover {
    width: 1rem !important;
  }
}

/* Track */
::-webkit-scrollbar-track {
  // background: $element;
}

/* Handle */
::-webkit-scrollbar-thumb {
  // background: $placeholder;
  border-radius: 0.25rem;

  &:hover {
    // background: $text;
  }
}

// ------------------------ other style ---------------------------------------

button{
  background: var(--blue-text) !important;
}

// border style
.e-border {
  // border: 1px solid $border;
}
.e-border-blue {
  // border: 1px solid $blue;
}

.e-card {
  border-radius: 1rem;
  // background-color: $card;
  padding: 0.5rem;
}
.e-card-shadow {
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  box-shadow: 4px 4px 50px -19px rgba(34, 60, 80, .2);
}

// background color style
.bg {
  // background-color: $bg;
}
.bg-card {
  // background-color: $card;
}
.bg-element {
  // background-color: $element !important;
}
.color-blue {
  // color: $blue;
}

//  flex
.d-f {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// sceleton loading
.e-skeleton {
  // background: $card;
  // background: linear-gradient(110deg, $card 6%, $element 18%, $card 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s skeleton linear infinite;
}
@keyframes skeleton {
  to {
    background-position-x: -200%;
  }
}
